.embed {
	border-width: var(--border-width);
	border-color: var(--background-modifier-border);
	border-style: solid;
	border-radius: var(--radius-s);
	padding: var(--size-4-2) var(--size-4-3);
	overflow: hidden;
	min-width: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--size-4-2);

	padding-top: var(--size-4-4);
	padding-bottom: var(--size-4-4);
	color: var(--background-modifier-error);

	p {
		margin: 0;
		padding: 0;
	}
}
