.embed .title {
	font-size: var(--font-text-size);
	font-weight: 400;
	color: var(--text-normal);
	text-decoration-thickness: 1px;
	text-decoration: none;
}

.embed .title .link-text {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

.embed .title .lines {
	color: var(--text-muted);
	font-size: var(--font-smallest);
	padding-left: var(--size-4-1);
}

.embed .prefix {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--size-4-2);
}

.embed .repo-link {
}

.embed .ref-link {
}

.embed .wordWrap pre,
.embed .wordWrap code {
	white-space: pre-wrap !important;
}

.embed .noWordWrap pre,
.embed .noWordWrap code {
	white-space: pre !important;
}
