.embed {
	border-width: var(--border-width);
	border-color: var(--background-modifier-border);
	border-style: solid;
	border-radius: var(--radius-s);
	padding: var(--size-4-2) var(--size-4-3);
	overflow: hidden;
	min-width: 200px;

	padding-top: var(--size-4-4);
	padding-bottom: var(--size-4-4);

	p {
		@media (prefers-reduced-motion: no-preference) {
			animation: pulse 3.5s ease-in-out infinite;
		}

		margin: 0;
		padding: 0;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
}
